services:
  - type: web
    name: mindmaid-backend
    env: node
    plan: free
    rootDir: backend       # <- backend folder is root for Node service
    buildCommand: "npm install"
    startCommand: "node server.js"
    envVars:
      - key: NODE_ENV
        value: production
      - key: NODE_VERSION
        value: "18"
      - key: PORT
        value: "5000"

  - type: web
    name: mindmaid-frontend
    env: static
    rootDir: frontend      # <- frontend folder is root for React build
    plan: free
    buildCommand: "npm install && npm run build"
    staticPublishPath: build
    envVars:
      - key: REACT_APP_API_URL
        value: "https://mindmaid-backend.onrender.com/api"
